@using Sandbox;
@using Sandbox.UI;

@namespace Facepunch.Minigolf.UI
@inherits BaseMenu

<root>
<div class="row" style="width: 100%; height: 100%; justify-content: flex-start; align-items: stretch;">

        <div class="column">
            <div class="column gap-large grow" style="width: 386px;">
                <label class="title">Get customizing!</label>

                <div class="column gap">

                    @foreach ( var group in ResourceLibrary.GetAll<CosmeticResource>().GroupBy( x => x.Category ) )
                    {
                        <div class="row gap align-center">
                            <div>
                                <label>@group.Key</label>
                            </div>

                            @foreach ( var item in group )
                            {
                                <ButtonCard onclick="@( () => Toggle( item ) )">
                                    <Main>
                                        <label>@item.Title</label>
                                    </Main>
                                    <Overlay>
                                        @( IsEquipped( item ) ? "Take Off" : "Wear" )
                                    </Overlay>
                                </ButtonCard>
                            }
                        </div>
                    }

                    <div class="grow"/>

                    <ButtonCard onclick="@(() => Save())">
                        <Main>
                            Save
                        </Main>
                        <Overlay>
                            Save
                        </Overlay>
                    </ButtonCard>

                    <ButtonCard onclick="@(() => Reset())">
                        <Main>
                            Reset
                        </Main>
                        <Overlay>
                            Reset
                        </Overlay>
                    </ButtonCard>
                </div>
            </div>
        </div>
	</div>
</root>

@code
{
    public List<CosmeticResource> Equipped { get; set; } = new();

    public bool IsEquipped( CosmeticResource resource )
    {
        return Equipped.Contains( resource );
    }

    public void Toggle( CosmeticResource resource )
    {
        if ( IsEquipped( resource ) )
        {
            Equipped.Remove( resource );
            CosmeticController.Local.Set( resource, false );
        }
        else
        {
            Equipped.Add( resource );
            CosmeticController.Local.Set( resource, true );
        }
    }

    void Save()
    {
        CosmeticController.SetSaved( new CosmeticsSave( Equipped ) );
    }

    void Reset()
    {
        CosmeticController.ClearSaved();

        for ( int i = Equipped.Count() - 1; i >= 0; i-- )
        {
            Toggle( Equipped[i] );
        }
    }
}
