@namespace Facepunch.Minigolf.UI
@inherits Panel

<root class="@(Achievement.IsUnlocked ? "unlocked" : "") gap">
    <div class="column grow gap">
        <div class="row align-center gap">
            <img src="@Achievement.Icon" style="width :32px; height: 32px;" />

            <div class="column">
                <label class="small">@Achievement.Title</label>
                <label class="tiny">@Achievement.Description</label>
            </div>
        </div>

        @if ( !Achievement.IsUnlocked && Achievement.HasProgression )
        {
            var progress = Achievement.ProgressionFraction.Clamp(0, 1);

            <div class="column grow">
                <div class="bar grow">
                    <div class="bar-progress" style="width: @(progress * 100f)%;" />
                    <label class="tiny">@( progress * 100f)%</label>
                </div>
            </div>
        }

    </div>
</root>

@code
{
    public Achievement Achievement { get; set; }
}
